body{
	font-family: 'Oxygen', sans-serif;

}
h1{
	font-size: 26px;
}
.principal{
	display: flex;
	justify-content: space-between;
}
@media (max-width: 576px) {
	.principal{
		justify-content: center;
		flex-wrap: wrap;
	}
}

.izquierda{
	display: flex;

}
@media (max-width: 576px) {
	.izquierda{
		margin-bottom: 30px;
		justify-content: center;
		flex-wrap: wrap;

	}
}

.derecha .card  ul a{
	text-decoration: none;
	color: black;

}
.derecha .card  ul li:hover{
	background-color: #910101;
	color: white;
}
@media (max-width: 576px) {
	.derecha{
		margin-bottom: 50px;
		
	}
}

.descripcion p{
	background: #F0F0F0;
	padding: 10px;
	border-radius: 10px;
	font-family: 'Oxygen Mono', monospace;

}
.tarjetas{
	display: flex;
	justify-content: space-between;

	
	
}
@media (max-width: 576px) {
	.tarjetas{
		flex-direction: column;
		align-content: center; 
		flex-wrap: wrap;
	}
}
.t1{
	flex:1;
  	
	border-radius: 20px;
	background-color: #019190
}

.t2{
	flex: 1;
  	
	border-radius: 20px;
	background-color: #910101; 
}
.t3{
	flex:1;
  	
	border-radius: 20px;
	background-color: #0E57A2; 
}
.imagen{
	float: left;
}
.lenguaje p{
	font-size: 13px;
	color: white;
}
@media (max-width: 576px) {
	.lenguaje p{
		font-size: 16px;
		
	}
}